body{
  background-image: url('../images/music_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.to-center{
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30%;
  background-color: #daa520;
  border: 5px solid #daa520;
  z-index: 0;
}
.to-center > a{
  display: flex;
  align-self: center;
  text-decoration: none;
  text-decoration-color: black;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-header{
  padding: 2px 16px;
  background-color: #f00;
  color: #fff;
  display: flex;
  justify-content: center;
}
.modal-header > span{
  display: flex;
  justify-content: flex-end;
}
.modal-body{
  padding: 2px 16px;
}

.modal-content {
  background-color: goldenrod;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid red;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}