body{
  background: #000;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#IronGame{ 
  padding: 0;
  margin: auto;
  display: block;
  width: 720px;
  border: 5px solid #000;
  background-image: url('../images/NEWgramophone.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.point-board{
  float: left;
  padding: 10px;
  margin: 15px;
  background: #daa520;
}
#start-game-button{
  margin: 20px;
  box-shadow: #fff 5px 5px 50px, #fff -5px -5px 50px;
}